<!DOCTYPE html>
<html class="h-full bg-white">
  <head>
    <title>PaymentsSample</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-full">
    <main class="lg:flex lg:min-h-full lg:flex-row-reverse lg:overflow-hidden">
      <%= yield %>
    </main>
  </body>
</html>
